<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Contacto</title>
    <link rel="stylesheet" href="https://unpkg.com/leaflet/dist/leaflet.css" />
    <link rel="stylesheet" href="css/contacto.css" />
  </head>
  <body>
    <script>
      fetch('header.html').then(response => response.text()).then(data => {
        document.querySelector('body').insertAdjacentHTML('afterbegin', data);
      });
    </script>
    <div class="image-container">
      <div class="wave-effect"></div>
      <div class="content">
        <h1 class="fade-in">¿Necesitas ayuda?</h1>
        <p class="fade-in">En KONECT estamos pendientes para resolver cualquier
          inquietud o duda y ayudarte a tomar la mejor decisión en el ámbito
          tecnológico.</p>
      </div>
    </div>
    <div class="redes-container"></div>
    <div class="image-container">
      <div class="filtered-image">
        <!-- Sección del mapa -->
        <div class="map-section">
          <div id="map" style="height: 300px;"></div>
        </div>

        <!-- Sección de la imagen -->
        <div class="image-section">
          <!-- Imagen -->
        </div>

        <!-- Sección del texto -->
        <div class="text-section">
          <!-- Texto -->
        </div>
      </div>
    </div>
    <script src="https://unpkg.com/leaflet/dist/leaflet.js"></script>
    <script src="js/contacto.js"></script>
  </body>
</html>